body{
    margin: 0px;
    padding: 0px;
}
nav{
    position: fixed;
    width: 100%;
    height: 77px;
    position: fixed;
    background: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

}
ul{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 120px;
}
li{
    color: #9C1112;
    text-decoration: none;
    list-style-type: none;
    padding: 20px;
}
/* #rad{
    border:2px solid #CFCFCF;
    border-radius:  39px;    
    box-sizing: border-box;
width: 49px;
height: 46px;
text-align: center;
} */
i{
  height: 16px;
  width: 16px; 
}
.one{
    padding: 150px;
    display: grid;
    grid-template-columns: repeat(2,600px);
    grid-template-rows: 212px;
    gap: 131px;
}
.talk{
    font-family: 'Montserrat';
color: #9C1112;
}
.talk p{
    color: black;
    font-family: 'Montserrat';
font-style: italic;
font-weight: 500;
font-size: 18px;
line-height: 22px;

}
.talk h1{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 60px;
line-height: 73px;
color: #9C1112;
}
.talk span{
    font-family: 'Montserrat';
font-style: italic;
font-weight: 600;
font-size: 12px;
line-height: 15px;
color: #9C1112;
}
.talkimage{
    width: 522px;
    height: 522px;
    /* background: url(pkk logo-02.png); */
box-shadow: 16px 25px 6px -4px rgba(0, 0, 0, 0.4);
background: #9C1112;
;
}
.buttons{
    margin-top: 10px;
}
button{
 
    border-radius: 25px;
    color: #9C1112;
    font-family: 'Montserrat';
width: 211px;
height: 46px;
border: none;
}
.buttons button:hover{
    background: #9C1112;
    color: white;
}
#subscribe{

    width: 136px;
    height: 32px;
    margin-top: 20px;
}
#subscribe span{
    font-family: 'Sen';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #9C1112;    
}
.down{
    margin-top: 20px;
    width: 523px;
}
a{
    background: #ECECEC;
    border-radius: 15.3111px;
    padding: 10px;
    color: black;
    font-family: 'Sen';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 14px;
}
.svgwid{
width: 100%;

}
.texts{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;    
}
.text{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;
color: #121212;
}
.text h1{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;

color: #121212;
}
.text span{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
/* identical to box height */
color: rgba(18, 18, 18, 0.5);
text-align: left;
}
.search input[type=text]{
    width:700px;
    height:46px;
    border: none;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    text-align: center;
    background: #FAF8F8;
border: 2px solid #CFCFCF;
border-radius: 25px;
}    
.search{
    float:right;
    margin:7px;
    text-align: center;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;    
    color: #B9B0B0;
    
}

.dropbtn {
    color: rgba(0, 0, 0, 0.5);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .show {display:block;}

.cards{
display: grid;
grid-template-columns: repeat(5,1fr);
grid-template-rows:repeat(2,1fr);
grid-gap: 20px;
padding:100px 100px;
}
 .card{
    border: 1px solid black;
        background: #FFFFFF;
        align-items: center;
        box-shadow: 0px 1.59596px 8.72312px rgba(0, 0, 0, 0.25);
        border-radius: 19.9495px;
        padding: 20px;
      }
      .cards h1{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 800;
        font-size: 14.3636px;
        line-height: 18px;
        color: #9D1212;
        text-align: center;
      }
      .cards img{
        max-width: 100%;
      }
#duration{
    color: #9D1212;
    text-align: center;
}
.two{
    margin: 155px;
}    
.teamtalk{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 605px;
    gap: 62px;
    margin-left: -10%;
}
.team{
background: linear-gradient(321.55deg, #FFFFFF 15.84%, rgba(255, 255, 255, 0) 117.9%);
box-shadow: 8px 22px 17px 14px rgba(0, 0, 0, 0.15);
}

.team h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    
}
.team p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;    
    color: rgba(18, 18, 18, 0.5);
    
}

.member{
    display: flex;
    gap: 20px;
    margin: 50px;
}
.member img{
    border-radius: 60%;
    width: 196px;
    height: 196px;
}
.intro{
    padding: 20px; 
}
.intro h1{
    font-family: 'Sen';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 22px;
color: #121212;
}
.intro p{
    font-family: 'Sen';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
text-align: justify;
color: #121212;
}
.contact{
    position: relative;
    
}
#plate{
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: #CFCFCF;
  text-align: center;

}

/* form animation starts */
.contact span{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
color: #121212;
}

     .form input[type=text]{
       
    
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 700;
   padding-left: 20px;
    }   
  
  .title{
    display: block;
    font-family: sans-serif;
    margin: 10px auto 5px;
    width: 400px;
  }
  .termsConditions{
    margin: 0 auto 5px 80px;
  }
  
  .pageTitle{
    font-size: 2em;
    font-weight: bold;
  }
  .secondaryTitle{
    color: grey;
  }
  
  .name {
    background-color: #ebebeb;
    color: white;
  }

  .email {
    background-color: #ebebeb;
    height: 2em;
  }
  

  
  .message {
    background-color: #ebebeb;
    overflow: hidden;
    height: 10rem;
  }
  

  .formEntry {
    display: block;
    margin: 30px auto;
 width: 400px;
    padding: 10px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(321.55deg, #FFFFFF 15.84%, rgba(255, 255, 255, 0) 117.9%);
box-shadow: 8px 22px 17px 14px rgba(0, 0, 0, 0.15);
  }
  
  .submit {
width: 80px;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #2F7D40;
    text-align: center;
    
  }
  .logo{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
  .logo i{
    font-size: 20px;
    padding: 4px 4px;

  }
  .three{
    margin: 98px;
    padding: 100px 100px;
  }
  .three h1{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 29px;

color: #000000;

  }
  .testimonials{
    display: grid;
    grid-template-columns: 374px 675px;
    grid-template-rows: 325px;
    gap: 195px;
    font-family: 'Montserrat';
    font-style: normal;
  }
  .gyan{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    text-align: center;
    padding: 45px 45px;
  }
  .testimonials h1{
font-weight: 800;
font-size: 18px;
  }
  .testimonials span{
    font-weight: 600;
font-size: 12px;
line-height: 15px;
text-align: justify;

color: rgba(156, 17, 18, 0.5);
  }
  .testimonials p{
font-weight: 500;
font-size: 12px;
  }
  .creator{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    text-align: center;
    padding: 45px 45px;

  }
  .image{
    display: flex;
    height: 75px;
    width: 75px;
    filter: drop-shadow(-3px 6px 4px rgba(0, 0, 0, 0.45));
    transform: matrix(-1, 0, 0, 1, 0, 0);
    margin-left: 50%;
  }
  #gyanIm{
    filter: drop-shadow(-3px 6px 4px rgba(0, 0, 0, 0.45));
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
  .four{
    text-align: center;
    width: 100%;
    height: 700px;
    color: white;
    position: relative;
  }
.content{
position: absolute;
  background-image: url('./image/background.png');
 min-width: 100%;
 min-height: 100%;
  object-fit: contain;
}
.contents{
margin-top: 100px;
}
.contents h1{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 73px;
  color: #FFFFFF;
}
.contents p{
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
text-align: center;
padding-left: 70px;
padding-right: 70px;
color: #FFFFFF;
}
.butts{
  display: flex;
  justify-content: center;
  gap: 57px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.butts button{
  border: 4px solid #FFFFFF;
border-radius: 25px;
color: white;
background-color: rgba(0, 0, 0, .25);

}
.butts button:hover{
  background-color: #9C1112;
  color: white;
}
.five{
  padding: 200px 200px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
.box{
  height: 320px;
  background: #191919;
  box-shadow: 14px 21px 12px 13px rgba(0, 0, 0, 0.25);
}
.six{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  background-color: #191919;
  width:80%;
  height: 500px;
  box-shadow: 14px 21px 12px 13px rgba(0, 0, 0, 0.25);
}